.vodiapicker,
.vd{
  display: none; 
}

#a,
#c{
  padding-left: 0px;
  background: #fff;
}



#a img, .btn-select img,
#c img{
  width: 16px;
  
}

.btn-select img{
    margin-right: 4px;
 }
  

#a li,
#c li{
  list-style: none;
  color: #414D6C;
  display: flex;
  padding: 0 4px;
  align-items: center;
}

#a li:hover,
#c li:hover{
 background-color: #F4F3F3;
 color: #333;
}

#a li img,
#c li img{
  margin: 4px;
}

/* item list */

.b,
.e{
  display: none;
  width: 100%;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  position: absolute;
  min-width: 150px;
  left: 0;
  top: 100%;
  
}

.open{
  display: show !important;
}

.btn-select,
.btn-select1{
    all: unset;
    padding: 0 1rem;
}

.btn-select li,
.btn-select1 li{
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-select:focus,
.btn-select1:focus{
   outline:none;
}

.lang-select{
    position: relative;
    z-index: 100;
}   
