/* #Footer  Styles================================================== */

.footer
	position: relative
	font-size: 15px
	position: relative
	padding: 3rem 0 0
	background: $primary

	h2
		font-size: 1.125rem
		margin-bottom: 1.25rem
		position: relative
		text-transform: uppercase
		font-weight: 500
		color: #fff
		letter-spacing: 0

	p
		color: #fff

	.footer-contact-info a, 
	.footer-contact-info span
		color: #fff

	.footer-contact-info 
		p
			display: flex

			svg
				flex: 0 0 24px	

.footer ul li a:hover
	text-decoration: underline

.footer p .fa
	margin-right: 10px

.footer__box
	position: relative
	z-index: 10
	li
		line-height: 26px
		position: relative
		padding-left: 20px

		&::after
			content: "\f105"
			position: absolute
			left: 0
			top: 0
			font-family: 'FontAwesome'
			font-size: 9px
			color: #fff

		a
			display: block
			color: #fff

			&:hover
				text-decoration: underline

.footer__box li
	margin-bottom: 8px

.footer__box li a:hover
	padding-left: 5px

.last_footer
	padding: 1rem 0
	font-size: 0.8125rem
	margin-top: 30px
	background: #121d26
	position: relative
	color: #fff

	&::after
		content: ''
		position: absolute
		top: -122px
		right: 100px
		background: url('../images/footer-bg.png') no-repeat center top
		height: 123px
		width: 450px

	p
		color: #5e7b8f

.copyright
	clear: both
	font-size: 14px
	float: left

.design
	a
		color: $accent
		text-decoration: none
		
		&:hover
		text-decoration: underline


.footer__box-pl
	padding-left: 40px

.contact-info p svg
	vertical-align: top

.contact-info p
	position: relative

.contact-info a, .contact-info span
	padding-left: 1rem
	display: inline-block
	color: inherit

.contact-info-t p svg
	color: $accent

.partners
	display: flex
	flex-wrap: wrap

	img
		margin-right: 1rem
		height: 50px
		object-fit: contain

.footer__social-media
	font-size: 1rem
	a
		color: #333
		margin-right: 5px
		border-radius: 100%
		-webkit-border-radius: 100%
		color: #fff
		display: inline-flex
		justify-content: center
		align-items: center
		height: 32px
		width: 32px
		background: $accent

.partner-outer
	margin-top: 40px


@media screen and (min-width: 577px) and (max-width: 767px)
	.footer .col-lg-3.col-sm-6 
		padding-bottom: 30px

@media screen and (max-width: 576px)

	.footer .col-lg-3.col-sm-6 + .col-lg-3.col-sm-6
		padding-top: 30px
