/* #Footer  Styles================================================== */

.footer
	position: relative
	font-size: 15px
	position: relative
	padding: 3rem 0 0
	background: $gray-03
	color: $body-text-1

	h2
		font-size: 1.25rem
		margin-bottom: 1.875rem
		position: relative
		text-transform: uppercase
		font-weight: 500
		color: #fff
		letter-spacing: 0

	h3, h4
		color: #fff
	
	h4
		font-size: 16px
		font-weight: normal
		text-decoration: underline

	p
		color: $body-text-1

	.footer-contact-info a,
	.footer-contact-info span
		color: $body-text-1

.footer__box-menu ul
	column-count: 2
	gap: 20px

.footer ul li a:hover
	text-decoration: underline

.footer p .fa
	margin-right: 10px

.footer__box
	position: relative
	z-index: 10
	li
		line-height: 26px
		position: relative

		a
			color: $body-text-1

.footer__box li
	margin-bottom: 8px

.last_footer
	padding: 1rem 0
	margin-top: 30px
	background: $gray-04
	position: relative

.copyright
	clear: both
	float: left

.design
	a
		color: $accent
		text-decoration: none

		&:hover
			text-decoration: underline

.footer__social-media
	font-size: 1rem
	a
		color: #333
		margin-right: 5px
		border-radius: 100%
		-webkit-border-radius: 100%
		color: #fff
		display: inline-flex
		justify-content: center
		align-items: center
		height: 32px
		width: 32px
		background: $accent

@media screen and (min-width: 577px) and (max-width: 767px)
	.footer .col-lg-3.col-sm-6
		padding-bottom: 30px

@media screen and (max-width: 576px)

	.footer .col-lg-3.col-sm-6 + .col-lg-3.col-sm-6
		padding-top: 30px
